{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block content %}

        <div class="container">

            <div class="col-md-8">

                <img src="{{movie.poster}}" alt="{{movie.title}}" class="img-responsive">

            </div>

            <div class="col-md-4">

                {{ wtf.quick_form(review_form) }}

                {{ simplemde.load }}

            </div>

        </div>

    {% endblock %}

</body>
</html>